/*Both imported font from google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
    
}




li, a, button {
    /*font controls*/
    font-family: sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgb(228, 137, 72);
    text-decoration: none;
    
}


body {
    background-color: #000;
    background-image: url(/project_photos/christin-hume-0MoF-Fe0w0A-unsplash.jpg);

    padding: 0px;
    margin: 0px;
    height: 100vh;
    background-position: center;
    background-size: 100% ;
    background-repeat: no-repeat;
    min-width: auto;
    min-height: auto;

}

header {
    display: flex;
    /*controls main axis*/
    justify-content: space-around; 
    /*controls cross axis*/
    align-items: center;
    padding: 15px 0px;
    
    
}

img {
   /*needs dimensions to be visible*/
    width: 60px;
    height: 60px;
    
    
}



ul {
    list-style: none;
    
}

ul, li {
    display: inline-block;
    padding:0px 50px;
    
    
}

ul, li, .nav-li {
    transition : all 0.3s ease 0s;
    
}

ul, li, .nav-li:hover {
    color: rgb(138, 118, 83);
}

.nav-button {
    padding: 9px 20px;
    background-color: rgb(199, 146, 61);
    color: antiquewhite;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    padding: 9px 20px;
    background-color: sandybrown;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.a {
    color: aliceblue;
}

.home-1 { 
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
    padding: 40px auto;
    
    
    
    

}



.section-2 { 
    padding-top: 100px;
    width: 100%;
    height: 115vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
   
    

}



.home-3 { 
    
    width: 100%;
    height: 95vh; /*
    background-image: url(/project_photos/christin-hume-0MoF-Fe0w0A-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed */
}

.home-4 { 
    
    width: 100%;
    height: 95vh;
    background-color: rgb(0, 0, 0);
   
    

}


.button_1 {

    padding: 9px 20px;
    background-color: saddlebrown;
    border: none;
    color: aliceblue;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-shadow: 2px 2px 25px #000;
}     

.button_1:hover {
    padding: 9px 20px;
    color: aliceblue;
    background-color: sandybrown;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-shadow: 2px 2px 25px rgb(255, 255, 255);
}

.title {
    color: aliceblue;
    font-size: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 25px rgb(0, 0, 0);
    
}
.sub_title {
    color: aliceblue;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 20px #000;
    
}



.container-2 {
    margin: 20px;
    padding: 0;
    height:600px;
    width: 1200px;
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-around;
}

.home-2-head {
    font-size: 65px;
    color: sandybrown;
    padding-right: 75%;
    margin-top: 20px;
    

}





.item-box {
    margin:0;
    padding: 0;
    width: 240px;
    height:300px;
    background-color: darkgrey;
    
}

.product-img {
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
    justify-content: stretch;
    

}

.product-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgb(234, 211, 164);
    width: 240px;
    height:50px;
}

.item-name {
    font-size: larger;
}

.quantity {
    color:  rgb(0, 0, 0, .75);

}

.item-price {
    font-weight: 400;
    font-size: 18px;

}

h2 {
    color: aliceblue;
    font-size: 40px;
}





.section-3 {
    margin-top: 100px;
    padding: 0;
    height: 120vh;
    width: 100vw;


}

.container-3{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    color: sandybrown;
    font-size: 50px;
    
}

.about-us-img {
    height: 440px;
    width: 720px;
    border-radius: 18px;
    margin-top: 50px;
}

.about-us-text{
    color: aliceblue;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}


.container-4{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 160vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-grid {
    margin:0;
    padding: 0;
    width: 63vw;
    height: 100vh;
    outline: none;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;;
}

.grid-img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
    

}









#grid1 {
    background-image: url(/project_photos/supporting_main.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    
    
    
    
}
#grid2 {
    background-image: url(/project_photos//about_MAIN.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
#grid3 {
    background-image: url(/project_photos/use_example.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
#grid4 {
    background-image: url(/project_photos/chelsea-shapouri-r40EYKVyutI-unsplash.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}


#lay1:hover {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .75);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    
}




#lay2:hover {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .75);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;

}


#lay3:hover {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .75);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;


}


#lay4:hover {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .75);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;

}

.img-overlay {
    padding: 9px 20px;
    background-color: rgb(0, 0, 0, .75);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}





.head-4 {
    color: sandybrown;
    font-size: 50px;
    font-weight: bold;
    padding-right: 75%;
    margin: 0;
}

