/*Both imported font from google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
    
}

/* Style the navigation menu */

  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    align-items: center;
    flex-direction: column;
    margin-right: .2em;
    font-size: .2em;
  }

  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    
  }
  
  a.icon {
    margin-right: 8%;
  }
 





.c-logo {
    margin-left: 3%;
    justify-content: center;
    align-items: center;
}




li, a, button {
    /*font controls*/
    font-family: sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgb(228, 137, 72);
    text-decoration: none;
    
}


body {
    background-color: rgb(51, 50, 50);
    

    padding: 0px;
    margin: 0px;
    

   
    
}

header {
    display: flex;
    /*controls main axis*/
    justify-content: space-between; 
    /*controls cross axis*/
    align-items: center;
    
    background-color: #000;
    
    
}








img {
   /*needs dimensions to be visible*/
    width: 50px;
    height: 50px;
    margin: .3em;
    
    
    
}




ul {
    list-style: none;
    width: 50vw;
    
    
}

ul, li {
    display: inline-block;
    display: flex;
    justify-content: center;
    
    
}

ul, li, .nav-li {
    transition : all 0.3s ease 0s;
    
}

ul, li, .nav-li:hover {
    color: rgb(138, 118, 83);
}

.nav-button {
    margin: 0;
    padding: .1em .5em;
    background-color: rgb(199, 146, 61);
    color: antiquewhite;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    padding: 9px 20px;
    background-color: sandybrown;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.a {
    color: aliceblue;
}

.home-1 { 
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/project_photos/christin-hume-0MoF-Fe0w0A-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    

}





.section-2 { 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 295vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    
    align-items: center;
    flex-direction: column;


}


@media (min-width: 450px){
    .section-2 {
        height:150vh;

    }
}



.button_1 {
    margin: 1em;
    padding: 0.5em 1em;
    background-color: saddlebrown;
    border: none;
    color: aliceblue;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-shadow: 2px 2px 25px #000;
}     

.button_1:hover {
    
    color: aliceblue;
    background-color: sandybrown;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-shadow: 2px 2px 25px rgb(255, 255, 255);
}

.title {
    color: aliceblue;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 25px rgb(0, 0, 0);
    margin: 1em;
    
    
}
.sub_title {
    color: aliceblue;
    font-size: 1.4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 20px #000;
    margin: 1em;
    
}



/*.container-2 {
    margin: 0;
    padding: 0;
    height:70vh;
    width: 90%;
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: row;
    justify-content: space-around;
}
*/
.container-2 {
    margin: 0;
    padding: 0;
    height:245vh;
    width: 90%;
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    
}

.home-2-head {
    font-size: 5em;
    color: sandybrown;
    padding:0;
    margin-top: 1em;
    

}





.item-box {
    width: 1em;
    margin:4em;
    padding: 0;
    min-width: 80%;
    height:50vh;
    background-color: darkgrey;
    
}

@media (min-width: 450px){
    .container-2 {
        flex-direction: row;
        margin: 0;
        padding: 0;
        height:80vh;
        width: 80%;
        background-color: aliceblue;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        flex-direction: row;
        justify-content: space-around;

    }
}


@media (min-width: 450px){
    .item-box {
        width:50px;
        margin:.5em;
        padding: 0;
        min-width: 30%;
        height:50vh;
        background-color: darkgrey;
        
    }
    
        


    
}
.product-img {
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
    justify-content: stretch;
    cursor: pointer;
    

}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: rgb(234, 211, 164);
    width: 100%;
    height:4em;
    cursor: pointer;
}

.item-name {
    font-size: 1em;
}

.quantity {
    color:  rgb(0, 0, 0, .75);

}

.item-price {
    font-weight: 400;
    font-size: 1em;

}

h2 {
    color: aliceblue;
    font-size: 1.5em;
    margin: 1em;
}






.section-3 {
    margin-top: 6em;
    padding: 0;
    height: 185vh;
    width: 100%;
    display: flex;
    justify-content: center;


}

.container-3{
    margin: 1em;
    padding: 0;
    width: 80%;
    height: 125vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 450px){
    .section-3 {
        height:110vh;
    }
}

@media (min-width: 450px){
    .container-3 {
        height:90vh;
    }
}

h1 {
    color: sandybrown;
    font-size: 3em;
    
}

.about-us-img {
    height: auto;
    min-width: 80%;
    border-radius: 18px;
    
    
}

.about-us-text{
    color: aliceblue;
    font-size: 1.3em;
    
    
}



.section-4 { 
    margin: 0;
    padding: 0px;
    width: 100%;
    height: 180vh;
    background-color: rgb(0, 0, 0);
    
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
   
    

}


@media (min-width: 450px){
    .container-4 {
        height: 80vh;

    }

}
.container-4{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.head-4 {
    margin: 1em;
    padding: 0;
    color: sandybrown;
    font-size: 3em;
    font-weight: 400;
    font-style: bold;

}

@media (min-width: 450px){
    .photo-grid {
    margin:0;
    padding: 0;
    width: 75%;
    
    outline: none;
    margin-top: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    }
}
/*
.photo-grid {
    margin:0;
    padding: 0;
    width: 75%;
    height: 100vh;
    outline: none;
    margin-top: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
}
*/
.photo-grid {
    margin:0;
    padding: 0;
    width: 75%;
    min-height: 100vh;
    outline: none;
    
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
    gap: 1em;
}

.grid-img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
    

}









#grid1 {
    background-image: url(/project_photos/supporting_main.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    
    
    
    
}
#grid2 {
    background-image: url(/project_photos//about_MAIN.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
#grid3 {
    background-image: url(/project_photos/use_example.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
#grid4 {
    background-image: url(/project_photos/chelsea-shapouri-r40EYKVyutI-unsplash.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}


#lay1:hover {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .75);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    
}




#lay2:hover {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .75);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;

}


#lay3:hover {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .75);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;


}


#lay4:hover {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .75);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;

}

.img-overlay {
    padding: 9px 20px;
    background-color: rgb(0, 0, 0, .75);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}










